In [1]:
import utils
import analyses_utils as an
import pandas as pd

# PDPT

## Paper

In [2]:
instances = utils.pick_pdpt_instances(5, 4, 'Rais')

In [19]:
df = pd.read_csv(utils.PDPT_PAPER_RESULTS_PATH, sep='\t')
df = df[df['Instance'].isin(instances)]
df['Params'] = df['Instance'].apply(lambda name: name[5:13])

df_rais = df[df['Model'] == 'Rais']
df_lyu = df[df['Model'] == 'Lyu']

In [21]:
an.get_results_data(df_rais)

          opt  lim  no       gap            t
Params
R5-K2-T1    4    0   0  0.000000    23.248691
R5-K2-T2    4    0   0  0.000000    29.971921
R5-K3-T3    4    0   0  0.000000   107.151039
R7-K2-T1    3    1   0  0.206544  1074.042439
R7-K2-T2    4    0   0  0.000000  1770.155523

In [20]:
an.get_results_data(df_lyu)

          opt  lim  no  gap         t
Params
R5-K2-T1    4    0   0  0.0  0.085759
R5-K2-T2    4    0   0  0.0  0.164039
R5-K3-T3    4    0   0  0.0  0.223778
R7-K2-T1    4    0   0  0.0  6.525908
R7-K2-T2    4    0   0  0.0  1.733981

## Project

In [22]:
df = pd.read_csv('../results/PDPT.csv')
df['Params'] = df['Instance'].apply(lambda name: name[5:13])

df_rais = df[df['Model'] == 'Rais']
df_lyu = df[df['Model'] == 'Lyu']

In [23]:
an.get_results_data(df_rais)

          opt  lim  no       gap           t
Params
R5-K2-T1    4    0   0  0.000000    31.42925
R5-K2-T2    4    0   0  0.000000    40.26250
R5-K3-T3    4    0   0  0.000000   221.65050
R7-K2-T1    2    2   0  0.140698   457.97950
R7-K2-T2    4    0   0  0.000000  2162.41000

In [24]:
an.get_results_data(df_lyu)

          opt  lim  no  gap        t
Params
R5-K2-T1    4    0   0  0.0  0.15175
R5-K2-T2    4    0   0  0.0  0.31450
R5-K3-T3    4    0   0  0.0  0.40925
R7-K2-T1    4    0   0  0.0  7.90625
R7-K2-T2    4    0   0  0.0  1.37425

# PDPTWT

In [2]:
pdptwt_instances = utils.pick_pdptwt_instances(2, 'Sampaio', skip=['180', '300', '5T'])

NameError: name '_PDPTWT_PAPER_RESULTS_PATH' is not defined