In [1]:
import utils
import analyses_utils as an
import pandas as pd

# PDPT

## Paper

In [2]:
instances = utils.pick_pdpt_instances(5, 4, 'Rais')

In [3]:
df = pd.read_csv(utils.PDPT_PAPER_RESULTS_PATH, sep='\t')
df = df[df['Instance'].isin(instances)]
df['Params'] = df['Instance'].apply(lambda name: name[5:13])

df_rais = df[df['Model'] == 'Rais']
df_lyu = df[df['Model'] == 'Lyu']

In [4]:
an.get_results_stats(df_rais)

          opt  lim  no       gap            t
Params
R5-K2-T1    4    0   0  0.000000    23.248691
R5-K2-T2    4    0   0  0.000000    29.971921
R5-K3-T3    4    0   0  0.000000   107.151039
R7-K2-T1    3    1   0  0.206544  1074.042439
R7-K2-T2    4    0   0  0.000000  1770.155523

In [5]:
an.get_results_stats(df_lyu)

          opt  lim  no  gap         t
Params
R5-K2-T1    4    0   0  0.0  0.085759
R5-K2-T2    4    0   0  0.0  0.164039
R5-K3-T3    4    0   0  0.0  0.223778
R7-K2-T1    4    0   0  0.0  6.525908
R7-K2-T2    4    0   0  0.0  1.733981

## Project

In [6]:
df = pd.read_csv('../results/PDPT.csv')
df['Params'] = df['Instance'].apply(lambda name: name[5:13])

df_rais = df[df['Model'] == 'Rais']
df_lyu = df[df['Model'] == 'Lyu']

In [7]:
an.get_results_stats(df_rais)

          opt  lim  no       gap           t
Params
R5-K2-T1    4    0   0  0.000000    31.42925
R5-K2-T2    4    0   0  0.000000    40.26250
R5-K3-T3    4    0   0  0.000000   221.65050
R7-K2-T1    2    2   0  0.140698   457.97950
R7-K2-T2    4    0   0  0.000000  2162.41000

In [8]:
an.get_results_stats(df_lyu)

          opt  lim  no  gap        t
Params
R5-K2-T1    4    0   0  0.0  0.15175
R5-K2-T2    4    0   0  0.0  0.31450
R5-K3-T3    4    0   0  0.0  0.40925
R7-K2-T1    4    0   0  0.0  7.90625
R7-K2-T2    4    0   0  0.0  1.37425

# PDPTWT

## Paper

In [9]:
instances = utils.pick_pdptwt_instances(2, 'Sampaio', skip=['180', '300', '5T'])

In [10]:
df = pd.read_csv(utils.PDPTWT_PAPER_RESULTS_PATH, sep='\t')
df = df[df['Instance'].isin(instances)]
df['Params'] = df['Instance'].apply(lambda name: name[:13])

df_sampaio = df[df['Model'] == 'Sampaio']
df_lyu = df[df['Model'] == 'Lyu']

In [11]:
an.get_results_stats(df_sampaio)

               opt  lim  no       gap            t
Params
3R-4K-4T-240L    2    0   0  0.000000     9.231899
3R-4K-4T-240M    2    0   0  0.000000     5.100620
3R-4K-4T-240S    2    0   0  0.000000     0.851732
4R-4K-4T-240L    2    0   0  0.000000   337.337275
4R-4K-4T-240M    2    0   0  0.000000    42.024628
4R-4K-4T-240S    2    0   0  0.000000    27.591332
5R-4K-4T-240L    0    2   0  0.149908     0.000000
5R-4K-4T-240M    2    0   0  0.000000  1072.190763
5R-4K-4T-240S    2    0   0  0.000000   302.267466

In [12]:
an.get_results_stats(df_lyu)

               opt  lim  no  gap            t
Params
3R-4K-4T-240L    2    0   0  0.0     5.524339
3R-4K-4T-240M    2    0   0  0.0     3.416602
3R-4K-4T-240S    2    0   0  0.0     2.195621
4R-4K-4T-240L    2    0   0  0.0    77.838708
4R-4K-4T-240M    2    0   0  0.0    26.966207
4R-4K-4T-240S    2    0   0  0.0    26.841693
5R-4K-4T-240L    2    0   0  0.0  1323.157136
5R-4K-4T-240M    2    0   0  0.0   770.505918
5R-4K-4T-240S    2    0   0  0.0    60.655713

## Project

In [13]:
df = pd.read_csv('../results/PDPTWT.csv')
df['Params'] = df['Instance'].apply(lambda name: name[:13])

df_sampaio = df[df['Model'] == 'Sampaio']
df_lyu = df[df['Model'] == 'Lyu']

In [14]:
an.get_results_stats(df_sampaio)

               opt  lim  no       gap         t
Params
3R-4K-4T-240L    2    0   0  0.000000  252.4245
3R-4K-4T-240M    2    0   0  0.000000   94.7045
3R-4K-4T-240S    2    0   0  0.000000    7.4900
4R-4K-4T-240L    0    2   0  0.123391    0.0000
4R-4K-4T-240M    2    0   0  0.000000  738.9845
4R-4K-4T-240S    2    0   0  0.000000  423.9510
5R-4K-4T-240L    0    1   1  0.258775    0.0000
5R-4K-4T-240M    0    2   0  0.240746    0.0000
5R-4K-4T-240S    2    0   0  0.000000  477.5090

In [15]:
an.get_results_stats(df_lyu)

               opt  lim  no       gap          t
Params
3R-4K-4T-240L    2    0   0  0.000000    10.1000
3R-4K-4T-240M    2    0   0  0.000000     6.8170
3R-4K-4T-240S    2    0   0  0.000000     1.5140
4R-4K-4T-240L    2    0   0  0.000000    75.7895
4R-4K-4T-240M    2    0   0  0.000000    29.3220
4R-4K-4T-240S    2    0   0  0.000000    44.2840
5R-4K-4T-240L    1    1   0  0.077288  2685.1800
5R-4K-4T-240M    2    0   0  0.000000   650.7625
5R-4K-4T-240S    2    0   0  0.000000    63.8250